<form id="realTimeProductsForm">
  <div>
    <label for="formTitle">Title</label>
    <input type="text" id="formTitle">
  </div>
  <div>
    <label for="formDescription">Description</label>
    <input type="text" id="formDescription">
  </div>
  <div>
    <label for="formPrice">Price</label>
    <input type="number" id="formPrice">
  </div>
  <div>
    <label for="formThumbnail">Ruta de la Imagen</label>
    <input type="text" id="formThumbnail">
  </div>
  <div>
    <label for="formCode">Code</label>
    <input type="text" id="formCode">
  </div>
  <div>
    <label for="formStock">Stock</label>
    <input type="number" id="formStock">
  </div>
  <div>
    <label for="formCategory">Category</label>
    <input type="text" id="formCategory">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
<div class="productsCardsContainer">
  <div id="productsCard" class="productsCardClass row">
</div>
